.gridLayout {
    display: grid;
    row-span: 6;
    column-span: 6;
}
.role {
    grid-column: 1;
    grid-row: 1;
}

.teamSummoners {
    grid-column: 2;
    grid-row: 1;
}
.teamChampions {
    grid-column: 3;
    grid-row: 1;
}
.championMastery {
    grid-column: 4;
    grid-row: 1;
}
.opponentChampions {
    grid-column: 5;
    grid-row: 1;
}
.matchRating {
    grid-column: 6;
    grid-row: 1;
}

.top {
    grid-column: 1;
    grid-row: 2;
}

.jungle {
    grid-column: 1;
    grid-row: 3;
}

.mid {
    grid-column: 1;
    grid-row: 4;
}

.bot {
    grid-column: 1;
    grid-row: 5;
}

.support {
    grid-column: 1;
    grid-row: 6;
}

.summonerTop {
    grid-column: 2;
    grid-row: 2;
}

.summonerJungle {
    grid-column: 2;
    grid-row: 3;
}

.summonerMid {
    grid-column: 2;
    grid-row: 4;
}

.summonerBot {
    grid-column: 2;
    grid-row: 5;
}

.summonerSupport {
    grid-column: 2;
    grid-row: 6;
}

.teamChampTop {
    grid-column: 3;
    grid-row: 2;
}

.teamChampJungle {
    grid-column: 3;
    grid-row: 3;
}

.teamChampMid {
    grid-column: 3;
    grid-row: 4;
}

.teamChampBot {
    grid-column: 3;
    grid-row: 5;
}

.teamChampSupport {
    grid-column: 3;
    grid-row: 6;
}

.masteryTop {
    grid-column: 4;
    grid-row: 2;
}

.masteryJungle {
    grid-column: 4;
    grid-row: 3;
}

.masteryMid {
    grid-column: 4;
    grid-row: 4;
}

.masteryBot {
    grid-column: 4;
    grid-row: 5;
}

.masterySupport {
    grid-column: 4;
    grid-row: 6;
}

.oppChampTop {
    grid-column: 5;
    grid-row: 2;
}

.oppChampJungle {
    grid-column: 5;
    grid-row: 3;
}

.oppChampMid {
    grid-column: 5;
    grid-row: 4;
}

.oppChampBot {
    grid-column: 5;
    grid-row: 5;
}

.oppChampSupport {
    grid-column: 5;
    grid-row: 6;
}

.winPerTop {
    grid-column: 6;
    grid-row: 2;
}

.winPerJungle {
    grid-column: 6;
    grid-row: 3;
}

.winPerMid {
    grid-column: 6;
    grid-row: 4;
}

.winPerBot {
    grid-column: 6;
    grid-row: 5;
}

.winPerSupport {
    grid-column: 6;
    grid-row: 6;
}

textarea {
    resize: none;
}