body {
    color: yellow;
    background-color: black;
}

/*bootstrap gridlayout*/
.gridLayout {
    display: grid;
    row-span: 6;
    column-span: 10;
    align-items: center;
    grid-gap: 10px;
    padding: 10px;
}

hr {
    height: 10px;
    color: yellow;
    background-color: yellow;
    border: none;
}

.box {
    width: 100%;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.bk1{
    padding: 8px;
    background-color: #303030;
    border: 3px yellow;
}
.bk2{
    padding: 8px;
    background-color: #505050;
    border: 3px yellow;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

/*input {*/
    /*!* Tell the input to use all the available space *!*/
    /*flex-grow:2;*/
    /*!*padding-right: .5em;*!*/
    /*!* And hide the input's outline, so the form looks like the outline *!*/
    /*!*border:none;*!*/
/*}*/

button {
    /* Just a little styling to make it pretty */
    /*border:1px solid blue;*/
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid #005cbf;
    background: #004085;
    color:white;
    display: none;
    float: right;
}

/*.displayButton{*/
    /*display: none;*/
/*}*/
.playerData{
    display: grid;
    row-span: 1;
    column-span: 3;
}

.tier{
    grid-row: 1;
    grid-column: 1;
}

.mastery{
    grid-row: 1;
    grid-column: 2;
}

.hotStreak{
    grid-row: 1;
    grid-column: 3;
}

.positionAndName{
    display: grid;
    row-span: 2;
    column-span: 1;
}
.position{
    grid-column: 1;
    grid-row: 1;
}
.name{
    grid-column: 1;
    grid-row: 2;
}
.role {
    grid-column: 1;
    grid-row: 1;
}

.teamSummoners {
    grid-column: 2;
    grid-row: 1;
}
.teamChampions {
    grid-column: 3;
    grid-row: 1;
}

.playerInfo{
    grid-column: 5;
    grid-row: 1;
}

/*.championMastery {*/
    /*grid-column: 6;*/
    /*grid-row: 1;*/
/*}*/
/*.hotStreak{*/
    /*grid-column: 7;*/
    /*grid-row: 1;*/
/*}*/
.playerWinPer{
    grid-column: 6;
    grid-row: 1;
}

.matchRating {
    grid-column: 7;
    grid-row: 1;
}
.opponentChampions {
    grid-column: 9;
    grid-row: 1;
}

.score {
    grid-column: 10;
    grid-row: 1;
}

.top {
    grid-column: 1;
    grid-row: 2;
}

.jungle {
    grid-column: 1;
    grid-row: 3;
}

.mid {
    grid-column: 1;
    grid-row: 4;
}

.bot {
    grid-column: 1;
    grid-row: 5;
}

.support {
    grid-column: 1;
    grid-row: 6;
}

.summonerTop {
    grid-column: 2;
    grid-row: 2;
}

.summonerJungle {
    grid-column: 2;
    grid-row: 3;
}

.summonerMid {
    grid-column: 2;
    grid-row: 4;
}

.summonerBot {
    grid-column: 2;
    grid-row: 5;
}

.summonerSupport {
    grid-column: 2;
    grid-row: 6;
}

.teamChampTop {
    grid-column: 3;
    grid-row: 2;
}

.teamChampJungle {
    grid-column: 3;
    grid-row: 3;
}

.teamChampMid {
    grid-column: 3;
    grid-row: 4;
}

.teamChampBot {
    grid-column: 3;
    grid-row: 5;
}

.teamChampSupport {
    grid-column: 3;
    grid-row: 6;
}

.teamChampTopPic {
    grid-column: 4;
    grid-row: 2;
}

.teamChampJunglePic {
    grid-column: 4;
    grid-row: 3;
}

.teamChampMidPic {
    grid-column: 4;
    grid-row: 4;
}

.teamChampBotPic {
    grid-column: 4;
    grid-row: 5;
}

.teamChampSupportPic {
    grid-column: 4;
    grid-row: 6;
}

.dataTop{
    grid-column: 5;
    grid-row: 2;
}

.dataJungle{
    grid-column: 5;
    grid-row: 3;
}
.dataMid{
    grid-column: 5;
    grid-row: 4;
}
.dataBot{
    grid-column: 5;
    grid-row: 5;
}
.dataSupport{
    grid-column: 5;
    grid-row: 6;
}

/*.masteryTop {*/
    /*grid-column: 6;*/
    /*grid-row: 2;*/
/*}*/

/*.masteryJungle {*/
    /*grid-column: 6;*/
    /*grid-row: 3;*/
/*}*/

/*.masteryMid {*/
    /*grid-column: 6;*/
    /*grid-row: 4;*/
/*}*/

/*.masteryBot {*/
    /*grid-column: 6;*/
    /*grid-row: 5;*/
/*}*/

/*.masterySupport {*/
    /*grid-column: 6;*/
    /*grid-row: 6;*/
/*}*/

/*.hotStreakTop{*/
    /*grid-column: 7;*/
    /*grid-row: 2;*/
/*}*/

/*.hotStreakJungle{*/
    /*grid-column: 7;*/
    /*grid-row: 3;*/
/*}*/

/*.hotStreakMid{*/
    /*grid-column: 7;*/
    /*grid-row: 4;*/
/*}*/

/*.hotStreakBot{*/
    /*grid-column: 7;*/
    /*grid-row: 5;*/
/*}*/

/*.hotStreakSupport{*/
    /*grid-column: 7;*/
    /*grid-row: 6;*/
/*}*/

.playerWinPerTop{
    grid-column: 6;
    grid-row: 2;
}

.playerWinPerJungle{
    grid-column: 6;
    grid-row: 3;
}

.playerWinPerMid{
    grid-column: 6;
    grid-row: 4;
}

.playerWinPerBot{
    grid-column: 6;
    grid-row: 5;
}

.playerWinPerSupport{
    grid-column: 6;
    grid-row: 6;
}

.winPerTop {
    grid-column: 7;
    grid-row: 2;
    /*background-size: 0% 0%;*/
    /*border: 2px white;*/
}

.winPerJungle {
    grid-column: 7;
    grid-row: 3;
}

.winPerMid {
    grid-column: 7;
    grid-row: 4;
}

.winPerBot {
    grid-column: 7;
    grid-row: 5;
}

.winPerSupport {
    grid-column: 7;
    grid-row: 6;
}

.oppChampTopPic {
    grid-column: 8;
    grid-row: 2;
}

.oppChampJunglePic {
    grid-column: 8;
    grid-row: 3;
}

.oppChampMidPic {
    grid-column: 8;
    grid-row: 4;
}

.oppChampBotPic {
    grid-column: 8;
    grid-row: 5;
}

.oppChampSupportPic {
    grid-column: 8;
    grid-row: 6;
}
.oppChampTop {
    grid-column: 9;
    grid-row: 2;
}

.oppChampJungle {
    grid-column: 9;
    grid-row: 3;
}

.oppChampMid {
    grid-column: 9;
    grid-row: 4;
}

.oppChampBot {
    grid-column: 9;
    grid-row: 5;
}

.oppChampSupport {
    grid-column: 9;
    grid-row: 6;
}

.scoreTop{
    grid-column: 10;
    grid-row: 2;
}

.scoreJungle{
    grid-column: 10;
    grid-row: 3;
}

.scoreMid{
    grid-column: 10;
    grid-row: 4;
}

.scoreBot{
    grid-column: 10;
    grid-row: 5;
}

.scoreSupport{
    grid-column: 10;
    grid-row: 6;
}

.totalScore {
    text-align: center;
}

#userMessage{
    text-align: center;
    opacity: 0;
    transition: 2s opacity;
}

textarea {
    resize: none;
}

img {
    height: 50px;
    width: 50px;
}

.champImg{
    border: 3px solid #004085;

    /*border-radius: 4px;*/
    /*padding: 5px;*/
    background-size: cover;
    border-radius:50% 50% 50% 50%;
    /*border-radius: 50%;*/
    height: 55px;
    width: 55px;
}

b {
    color: white;
}

input{
    background: #004085;
    border-color: #005cbf;
    color: white;
}
