.bk1{
    padding: 8px;
    background-color: #303030;
    border: 3px yellow;
}

.bk2{
    padding: 8px;
    background-color: #505050;
    border: 3px yellow;
}

.scoreChart{
    stroke: #FFF;
}

.chart {
    background-color: black;
}


.fail{
    fill: red;
    color: red;
    text-anchor:end;
}

.win{
    fill: #005cbf;
    text-anchor:start;
    color: #005cbf;
}

.dodge{
    fill: #D3D3D3;
    color: #D3D3D3;
    text-anchor:start;
}

.highlighted{
    stroke: white;
    stroke-width:4;
}


.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.tooltip-title{
    font-size:18px;
    font-family: "Arial Black";

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    /*box-sizing: border-box;*/
    display: inline;
    font-size: 10px;
    width: 100%;
    /*line-height: 1;*/
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    /*margin: -1px 0 0 0;*/
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    /*margin: -4px 0 0 0;*/
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    /*margin: 4px 0 1px 0;*/
    top: -8px;
    left: 1481px;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    /*margin: -4px 0 0 -1px;*/
    top: 50%;
    left: 100%;
}

img {
    height: 700px;
    width: 700px;
}

.PlayerStatPic {
    position: absolute;
    left: 100px;
}

.axis line{
    stroke: yellow;
}

.axis path{
    stroke: yellow;
}

.axis text{
    fill: yellow;
}

h2 {
    color: yellow;
}

h4 {
    color: yellow;
}

text {
    fill: yellow;
}



#loader {
    border: 16px solid lightgray;
    border-top: 16px solid yellow;
    position: absolute;
    left: 25%;
    top: 50%;
    z-index: 1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.help-tip{
    position: absolute;
    bottom: .5%;
    right: 18px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:black;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

.menu {
    position: relative;
    display: inline-block;
}

.menu .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: small;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.menu .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.chart1 {
    position: relative;
    /*display: inline-block;*/
}

.chart1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: small;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 25%;
    margin-left: -60px;
}

.chart1 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.chart2 {
    position: relative;
}

.chart2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: small;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 25%;
    margin-left: -60px;
}

.chart2 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.moreButton {
    position: relative;
}

.moreButton .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: small;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.moreButton .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.deleteButton {
    position: relative;
}

.deleteButton .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: small;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.deleteButton .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.graph {
    position: relative;
}

.graph .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: small;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -60px;
}

.graph .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.legend {
    position: relative;
}

.legend .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: small;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.legend .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.arrowLeft {
    position: absolute;
    z-index: 9999;
    right: 20%;
    top: 95%;
    pointer-events: auto;
}

.arrowRight {
    position: absolute;
    z-index: 9999;
    right: 10%;
    top: 95%;
    pointer-events: auto;
}

.arrowLeft:hover {
    color: #004085;
    cursor: pointer;
}

.arrowRight:hover {
    color: #004085;
    cursor: pointer;
}

body.highlight-is-active {
    pointer-events:  none;
}

.highlight {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
    position: relative;
    z-index: 9999;
    pointer-events:  auto;
    transition: all 0.5s ease;
}

.tutorialExit {
    position: absolute;
    z-index: 10000;
    top: 2.5%;
    right: 5%;
    pointer-events: auto;
}

.tutorialExit:hover {
    cursor: pointer;
    color: #004085;
}